{% extends "_layout.html" %}
{% block title %}EARL System Status - All Services{% endblock %}
{% block content %}

    <div class="bs-component">
        <div class="jumbotron">
            <h1 align="center"><i class="fa fa-check-circle fa-3x text-success"></i></h1>
            <p class="lead" align="center">Electronic Automated Realtime Leads status is: <br /><span class="label label-{% if overall_status == "OPERATIONAL" %}success{% else %}danger{% endif %}">{{ overall_status }}</span></p>
            {% if overall_status == "OPERATIONAL" %}
            <p align="center"><small>All services are operating normally...  <br />Click on a service below to view service details and incident reports.</small></p>
            {% else %}
             <p align="center"><small>Some EARL services are degraded...  <br />Click on a service below to view service details and incident reports.</small></p>
            {% endif %}
        </div>
    </div>

    <div align="center" style="margin: 25px;">
        <small>Current Time: {{ today }}</small>
    </div>

    <div>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ url_for('pixeltracker') }}">EARL Pixel Tracker</a>
                <span class="pull-right">
                    {% if status['pixel-tracker.com'] == 1 %}
                    <i class="fa fa-check-circle fa-2x text-success" style="margin-bottom: 10px;"></i>
                    {% else %}
                    <i class="fa fa-warning fa-2x text-danger" style="margin-bottom: 10px;"></i>
                    {% endif %}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ url_for('webadmin') }}">EARL Web Admin</a>
                <span class="pull-right">
                    {% if status['admin.earl-bdc.com'] == 1 %}
                    <i class="fa fa-check-circle fa-2x text-success" style="margin-bottom: 10px;"></i>
                    {% else %}
                    <i class="fa fa-warning fa-2x text-danger" style="margin-bottom: 10px;"></i>
                    {% endif %}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ url_for('dealerportal') }}">EARL Dealer Portal</a>
                <span class="pull-right">
                    {% if status['portal.earl-bdc.com'] == 1 %}
                    <i class="fa fa-check-circle fa-2x text-success" style="margin-bottom: 10px;"></i>
                    {% else %}
                    <i class="fa fa-warning fa-2x text-danger" style="margin-bottom: 10px;"></i>
                    {% endif %}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ url_for('api') }}">EARL API</a>
                <span class="pull-right">
                    {% if status['earl-bdc.com'] == 1 %}
                    <i class="fa fa-check-circle fa-2x text-success" style="margin-bottom: 10px;"></i>
                    {% else %}
                    <i class="fa fa-warning fa-2x text-danger" style="margin-bottom: 10px;"></i>
                    {% endif %}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ url_for('modeladmin') }}">EARL Model Admin</a>
                <span class="pull-right">
                    {% if status['earl-data-model.ngrok.io'] == 1 %}
                    <i class="fa fa-check-circle fa-2x text-success" style="margin-bottom: 10px;"></i>
                    {% else %}
                    <i class="fa fa-warning fa-2x text-danger" style="margin-bottom: 10px;"></i>
                    {% endif %}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ url_for('automation') }}">EARL Automation Server</a>
                <span class="pull-right">
                    {% if status['52.23.77.251'] == 1 %}
                    <i class="fa fa-check-circle fa-2x text-success" style="margin-bottom: 10px;"></i>
                    {% else %}
                    <i class="fa fa-warning fa-2x text-danger" style="margin-bottom: 10px;"></i>
                    {% endif %}
                </span>
            </li>
        </ul>
    </div>

{% endblock %}