{% extends "_layout.html" %}
{% block title %}EARL Service Status | EARL Web Admin Service Status{% endblock %}
{% block content %}


    <div class="jumbotron">

        {% if status %}
        <h1 align="center"><i class="fa fa-check-circle fa-3x text-success"></i></h1>
        {% else %}
        <h1 align="center"><i class="fa fa-warning fa-3x text-danger"></i></h1>
        {% endif %}

        <h1 align="center">EARL Web Admin</h1>
        <h3 align="center">https://{{ web_admin }}</h3>
        <p class="lead" align="center"><small>{{ today }}</small></p>
    </div>



    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#details"><i class="fa fa-th-list text-primary"></i> Service Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#incidents"><i class="fa fa-info-circle text-primary"></i> Incidents</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active" id="details">
                {% if status %}
                <p class="text-success"><i class="fa fa-check-square text-success"></i> The EARL Web Admin is online.</p>
                {% else %}
                <p class="text-danger"><i class="fa fa-warning text-danger"></i> The EARL Web Admin is not responding...</p>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="incidents">
                <p>There are 0 reported incidents.  <a href="">Report Incident</a></p>
            </div>
        </div>
    </div>




{% endblock %}

{% block js %}
    {{ super() }}

    <script>
        $(document).ready(function() {
            $('.nav-tabs a:first').tab('show');
        });
    </script>

{% endblock %}